*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: sans-serif;
}

.picture-detail,.img-detail{
    display: block;
    max-width: 50rem;
    width: 100%;
    height: auto;
    align-self: center;
}

.box-course{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 8rem 10%;
    min-height: 95vh;
    background-color: white;
    z-index: 1;
}



.first-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5rem;
    min-width: 51rem;
    max-width: 90rem;
    width: 100%;
}


.inform,.inform-details,.inform-desc,.inform-section{
    border: 0.2rem solid dimgrey;
    background-color: white;
    padding: 2rem;
    width: 100%;
}


.inform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem;
}


.inform-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.inform-details p{
    padding: 1rem;
    font-size: 1.2rem;
    border: 0.2rem solid grey;
    border-radius: 0 1rem 0 1rem;
    color: black;
}

.inform-details span{
    color: grey;
    font-size: 1.2rem;
}


.inform-desc{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.inform-section{
    display: flex;
    flex-direction: column;
    gap: 0;

}

.inform-desc p, .inform-section p{
    font-size: 1.4rem;

}

.inform-desc p:first-child, .inform-section>p:first-child{
    color:grey;
}

.inform-section>p:first-child{
    padding-bottom: 1.6rem;
}




.inform h2{
    align-self: flex-start;
    font-size: 2rem;
}


.second-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5rem;
    min-width: 31rem;
    max-width: 36rem;
    width: 100%;
}


.course-panel,.user-box{
    border: 0.2rem solid dimgrey;
    background-color: white;
    padding: 2rem;
    width: 100%;
}



.course-panel{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.8rem;
}


.course-panel>p{
    font-size: 1.4rem;
}

.course-active-info{
    border: 0.2rem solid dimgrey;
    background-color: white;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.course-active-info>p:first-child{
    font-size: 1.7rem;
    color: grey;
}

.course-active-info>p:nth-child(2){
    font-size: 1.7rem;
    color: green;
    font-weight: bold;
}

.course-panel-box{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.course-panel-box p{
    font-size: 2rem;
}


.course-panel-box p:first-child,.course-panel-input label,.course-panel>p{
    color: grey;
}


.course-panel-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    width: 100%;

}

.course-panel-input label{
    font-size: 1.5rem;
}


.course-panel-input input{
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 9rem;
}


.course-panel-input button{
    border: none;
    color: midnightblue;
    background-color: gold;
    font-size: 2.2rem;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
}


.course-panel-input button:hover{
    background-color: goldenrod;
}


.course-panel-code-input p{
    color: red;
    font-size: 1.5rem;
}


.course-panel-code-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-top: 1rem;
    width: 100%;

}


.course-panel-code-input input{
    text-align: center;
    font-size: 1.4rem;
    padding: 0.5rem;
    width: 90%;
}


.course-panel-code-input button{
    border: none;
    color: snow;
    background-color: midnightblue;
    font-size: 2.2rem;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
}


.course-panel-code-input button:hover{
    background-color: goldenrod;
}

.course-panel h2,.inform h2{
    color: green;
}


.user-box{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

}


.user-box p{
    font-size: 1.5rem;
}

.user-box div{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.user-box p:first-child{
    color: grey;
}


.backButton{
    text-decoration: none;
    position: absolute;
    top: 1.2em;
    left: 1rem;
    border: none;
    background-color: dodgerblue;
    color: black;
    font-weight: bold;
    padding: 0.9rem 1.2rem;
    font-size: 1.2rem;
    cursor: pointer;
    border: 0.2rem solid blue;
}


.backButton:hover{
    background-color: darkblue;
}



.offerError{
    font-size: 1.2rem;
    color: red;
}



@media screen and (max-width: 1050px) {


    .box-course{
        flex-direction: column;
        padding: 8rem 3%;
    }
    .first-box{
        min-width: 20rem;
    }
    .second-box{
        max-width: none;
        min-width: none;
    }

}


