*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: sans-serif;
}

.user-data{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border: 0.2rem solid midnightblue;
    background-color: snow;
    padding: 5rem;
    width: 100%;
    min-width: 20rem;
    max-width: 30rem;
    margin: 5rem auto;
}


.user-data p{
    font-size: 1.5rem;
}

.user-data div{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.user-data p:first-child{
    color: grey;
}
