*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 12px;
}


.flex-box-course{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: white;
}

.flex-box-course>h2{
    font-weight: bold;
    font-size: 1.8rem;
    margin: 1.7rem;
}

.list-course{
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 5rem;
}

.list-course tr{
    border: 0.2rem solid black;
    border-radius: 10rem;
    overflow: hidden;
    gap: 10rem;
}

.list-course th, .list-course td {
    text-align: center;
    padding: 1rem 0.8rem;
    border: 0.2rem solid black;
    font-size: 1.2rem;
}




@media screen and (max-width: 750px) {

    .list-course{
        width: 95%;
    }

    .list-course th, .list-course td {
        text-align: center;
        padding: 0.5rem;
        border: 0.2rem solid black;
        font-size: 1rem;
    }

    .flex-box-course>h2{
        font-weight: bold;
        font-size: 1.2rem;
        margin: 1rem;
    }
}