*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: sans-serif;
}

.round-box-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: snow;
    padding-bottom: 5rem;
    margin: 0 auto;
    min-height: 95vh;
}

.box-add-user{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    height: auto;
    margin: 4rem 0;
    padding: 3rem;
    min-height: 40vh;
    border: 0.2rem solid black;
    border-radius: 2rem;
    background-color: white;
}


.box-add-user h2{
    align-self: center;
    font-size: 4rem;
    color: midnightblue
}



.input-add-user label{
    color: grey;
    align-self: flex-start;
    font-size: 2.5rem;
}

.input-add-user{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 0.2rem solid dimgrey;
    background-color: white;
    padding: 2rem;
    border-radius: 0 1rem 0 1rem;
    min-width: 20rem;
    max-width: 70rem;
    width: 100%;
}


.input-add-user input{
    font-size: 1.5rem;
    background-color: transparent;
    outline: none;
    padding: 0.7rem;
    border: 0.2rem solid grey;
}

.input-add-user input:focus{
    border-color: forestgreen;
}




.add-user-button{
    color: midnightblue;
    background-color: royalblue;
    font-size: 2.2rem;
    width: fit-content;
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-weight: bold;
    margin-left: 2rem;
    border: 0.2rem solid grey
}




@media screen and (max-width: 800px) {


    .box-add-user{
        width: 90%;
    }

    .input-add-user{
        min-width: none;
        width: 100%;
    }

}


